@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* app/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  background-color: #111;
  color: #fff;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(/bjj-wallpaper.jpeg);
  background-position: center top;
  background-size: cover;
}

.mainContent {
  position: relative;
  z-index: 1; /* 確保內容在導航欄之下 */
  transition: filter 0.3s ease; /* 平滑過渡模糊效果 */
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

.learnMoreButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5e14;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #e05012;
}

.aboutSection {
  min-height: 100vh;
  background-color: #111;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutHeading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
}

.aboutText {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
  margin-bottom: 20px;
}

.testSection {
  min-height: 100vh;
  background-color: #111;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 700px) {
  .myP,
  .aboutText {
    padding: 2%;
  }

  .learnMoreButton {
    padding: 8px 16px;
  }

  .aboutHeading {
    font-size: 3rem;
  }

  .aboutText {
    font-size: 16px;
  }
}
