/* src/app/components/Footer.module.css */

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
  }

  .socialMedia {
    margin: 20px 0;
  }

  .socialMedia a {
    margin: 0 10px; /* 調整間距 */
  }
}
