/* src/app/components/Footer.module.css */
.footer {
  background: #151414;
  padding: 20px 0;
}

.footerContainer {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logoImage {
  margin-right: 10px;
}

.socialMedia {
  margin: 20px 0;
}

.socialMedia a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: 0.6s;
  margin: 0 15px;
}

.logo span:hover {
  transition: 0.6s;
  color: #757575;
}

.socialMedia a.facebook:hover {
  color: #3b5998; /* Facebook 藍 */
}

.socialMedia a.twitter:hover {
  color: #71767b; /* X 深灰色 */
}

.socialMedia a.instagram:hover {
  color: #e1306c; /* Instagram 粉紅 */
}

.socialMedia a.youtube:hover {
  color: #ff0000; /* YouTube 紅 */
}

.socialMedia a.linkedin:hover {
  color: #0077b5; /* LinkedIn 藍 */
}

.footerContainer p {
  color: #757575;
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
  }

  .socialMedia {
    margin: 20px 0;
  }

  .socialMedia a {
    margin: 0 10px; /* 調整間距 */
  }
}
